.elementor-1832 .elementor-element.elementor-element-b70443b {padding: 25px 20px 0px 20px;}
.elementor-1832 .elementor-element.elementor-element-92fe605 > .elementor-column-wrap > .elementor-widget-wrap > .elementor-widget:not(.elementor-widget__width-auto):not(.elementor-widget__width-initial):not(:last-child):not(.elementor-absolute) {margin-bottom: 0px;}
.elementor-1832 .elementor-element.elementor-element-e20d0c7 {padding: 25px 20px 25px 20px;}
@media (max-width:1024px) {.elementor-1832 .elementor-element.elementor-element-b70443b {padding: 25px 20px 0px 20px;}
	.elementor-1832 .elementor-element.elementor-element-e20d0c7 {padding: 20px 20px 25px 20px;}}
@media (max-width:767px) {.elementor-1832 .elementor-element.elementor-element-b70443b {padding: 25px 20px 0px 20px;}
	.elementor-1832 .elementor-element.elementor-element-e20d0c7 {padding: 20px 20px 25px 20px;}
	.elementor-1832 .elementor-element.elementor-element-0c5b0f6 > .elementor-widget-container {padding: 0px 0px 0px 0px;}}
@media (min-width:768px) {.elementor-1832 .elementor-element.elementor-element-03dfc52 {width: 25%;}
	.elementor-1832 .elementor-element.elementor-element-115767c {width: 75%;}}
@media (max-width:1024px) and (min-width:768px) {.elementor-1832 .elementor-element.elementor-element-03dfc52 {width: 30%;}
	.elementor-1832 .elementor-element.elementor-element-115767c {width: 70%;}}