.elementor-2283 .elementor-element.elementor-element-d7f3c61 > .elementor-container {max-width: 1110px;}
.elementor-2283 .elementor-element.elementor-element-d7f3c61 {padding: 0px 0px 0px 0px;}
.elementor-2283 .elementor-element.elementor-element-5753f3a {text-align: center;}
.elementor-2283 .elementor-element.elementor-element-5753f3a.elementor-widget-heading .elementor-heading-title {color: #dd3332;}
.elementor-2283 .elementor-element.elementor-element-5753f3a .elementor-heading-title {font-size: 32px;font-weight: 900;line-height: 1.2em;}
.elementor-2283 .elementor-element.elementor-element-5753f3a > .elementor-widget-container {padding: 25px 0px 25px 0px;}
@media (max-width:1024px) {.elementor-2283 .elementor-element.elementor-element-d7f3c61 {padding: 0px 0px 0px 0px;}
	.elementor-2283 .elementor-element.elementor-element-5753f3a .elementor-heading-title {font-size: 18px;}}
@media (max-width:767px) {.elementor-2283 .elementor-element.elementor-element-d7f3c61 {padding: 0px 0px 0px 0px;}
	.elementor-2283 .elementor-element.elementor-element-5753f3a {text-align: center;}
	.elementor-2283 .elementor-element.elementor-element-5753f3a .elementor-heading-title {font-size: 18px;}}